<!--<h3>채팅방 이름: <%#= @chatroom.name %></h3>-->

<!--[TODO]추후에 자신이 쓴 message는 float 오른쪽,
나머지는 float 왼쪽으로 몰아주도록 수정할 것-->

<!--<%# @messages.each do |message| %>-->
<!--<div class="messages" style="<%#= 'float:right;' if message.user = current_user %>">-->
<!--    <p><%#= message %></p>-->
<!--</div>-->
<!--<%# end %>-->

<h3><%= @chatroom.name %></h3>
<hr>
<h5><%= @chatroom.article.title %>의 채팅방입니다</h5>

<hr>
<ul id="messages">
  <% @chatroom.messages.each do |message| %>
  <li><%= message.user.email %>: <%= message.content %></li>
  <% end %>
</ul>
<form>
  <label>말해주세요!: </label><br>
  <input type="text" data-behavior="chatroom_speaker">
</form>