<%= stylesheet_link_tag "welcome" %>
<div class="square-box">
  <div class="square-content">
    <div>
      <h1 class="main-area">친그라운드에 오신 것을 환영합니다</h1>
      <% if user_signed_in? %>
      <p class="main-area">현재 로그인된 유저의 이메일 : <%= current_user.email %></p>
      <p class="main-area"><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "로그아웃 하시겠습니까??" } , class: "btn btn-light" %></p>
      <% else %>
      <p class="main-area"><%= link_to "로그인", new_user_session_path, class: "btn btn-light" %></p>
      <% end %>
    </div>
  </div>
</div>