<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<%= stylesheet_link_tag "article" %>
<h1 class="title-h1"><span class="title_border">게시물 등록</span></h1>
  <form action="/article/create" method="post">
<div class="form-grop" id ="group_bg">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="form-group" id="title-div">
      <!--<label for="title">제목</label>-->
      <input type="text" name="title" class="form-control" id="title" placeholder="제목" required>
    </div>
    <div class="form-group" id="place-div">
      <!--<label for="place">장소</label>-->
      <input type="text" name="place" class="form-control" id="place" placeholder="장소" required>
    </div>
    <div class="form-group">
      <!--<label for="content">내용</label>-->
      <input type="text" name="content" class="form-control" id="content" placeholder="내용" required>
    </div>
    <div class="form-group" id="time-div">
      <!--<label for="init_time">시작시간</label>-->
      <input type="datetime-local" name="init_time" class="form-control" id="init_time" placeholder="시작시간" required>
      <!--<label for="fin_time">종료시간</label>-->
      <input type="datetime-local" name="fin_time" class="form-control" id="fin_time" placeholder="종료시간" required>
    </div>
    <!--<div class ="bj"></div>-->
  
  


</div>
<button type="submit" class="btn btn-light">Submit</button>
</form>
