$dark-mint: rgb(37, 218, 157);
$light-mint: rgb(177, 238, 218);
$navbar-default-color: $light-mint;
$navbar-default-bg: $dark-mint;
$navbar-default-link-color: white;
$navbar-default-link-active-color: $light-mint;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: rgba(255, 255, 255, 0.2);

@import "bootstrap";
@import "bootstrap/theme";

body { padding-top: 60px; }

.fa-star {
    color: rgba(0, 0, 0, 0.2);
}

.checked {
    color: rgb(37, 218, 157);
}