// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table { text-align:center; }
.table-title { 
    text-align : center;
    margin-top:25px;
    margin-bottom:10px;
}
.table-title>h2 { font-size: 1.5em; }
.table-area .table.table-hover {
    border: 2px dashed rgba(136, 176, 75, 0.5) !important;
    border-collapse: separate;
    border-radius:15px;
    border-spacing:0;
}
.table-area .table.table-hover th:first-child {
    border-radius: 15px 0 0 0;
}
.table-area .table.table-hover th:last-child {
    border-radius: 0 15px 0 0;
}

.ground_list{
    width:25%;
}

table tr td a {
    display:block;
    height:100%;
    width:100%;
}
table tr td a:link { color:black; text-decoration:none; }
table tr td a:hover { color:black; text-decoration:none; }
table tr td a:visited { color:black; text-decoration:none; }

.active_list>a{
    color:#5587ED !important;
}
.done_list{
    background:#F6F6F6;
}
.done_list>a{
    color:#BDBDBD !important;
}